@model Library.ViewModels.BookViewModels.AddBookViewModel
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 class="page-header">Add Book</h1>

<div class="row placeholders">
    @using (Html.BeginForm())
    {
            <p style="padding:5px;"></p>
            <div class="col-xs-12 col-sm-2">
            </div>
            <div class="col-xs-12 col-sm-9">
                <form class="form-horizontal" role="form">

                    <div class="row">
                        <p style="padding:5px;"></p>
                        <div class="form-group">
                            <label for="category" class="col-sm-3 control-label">Name</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.PublicationName, new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p style="padding:5px;"></p>
                        <div class="form-group">
                            <label for="categoryNameAdd" class="col-sm-3 control-label">Publishing Houses</label>
                            <div class="col-sm-6">
                                @Html.DropDownListFor(m => m.PublishingHousesId, Model.PublishingHouses.Select(x => new SelectListItem() { Text = x.Name, Value = x.Id }).ToList(), new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p style="padding:5px;"></p>
                        <div class="form-group">
                            <label for="categoryNumberAdd" class="col-sm-3 control-label">Tom Number</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.TomNumber, new { @class = "form-control", required = "required", @type = "number" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p style="padding:5px;"></p>
                        <div class="form-group">
                            <label for="categoryNumberAdd" class="col-sm-3 control-label">Author</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.Author, new { @class = "form-control", required = "required" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p style="padding:5px;"></p>
                        <div class="form-group">
                            <label for="categoryNumberAdd" class="col-sm-3 control-label">Number Pages</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.NumberPages, new { @class = "form-control", required = "required", @type = "number" })
                                    </div>
                        </div>
                    </div>
                    <div class="row">
                        <p style="padding:5px;"></p>
                        <div class="form-group">
                            <label for="categoryNumberAdd" class="col-sm-3 control-label">Publishing Year</label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.PublishingYear, new { @class = "form-control", required = "required", placeholder = "MM/dd/yyyy"})
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <p style="padding:10px;"></p>
                        <div class="form-group">
                            <div class="col-sm-3">
                            </div>

                            <div class="col-sm-6">
                                <button type="submit" class="btn btn-warning">Add Book</button>
                            </div>
                        </div>
                    </div>
                </form>

            </div>



    }

</div>


